nav h1{
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

p, h1{
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.paragrafo{
    background: white;
    opacity: 0.5;
    padding: 15px;
}

img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.container1 > div{
	flex: 1 1 200px;
    margin: 10px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.container2 > div{
	flex: 1 1 200px;
    margin: 10px;
}

[data-anime]{
    opacity: 0;
    transition: 1.3s;
}

[data-anime="right"]{
    transform: translate3d(150px, 0, 0);
}

[data-anime="left"]{
    transform: translate3d(-150px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.container3{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.modal{
    opacity: 0;
    animation-timing-function: ease;
    transform: translateX(-100px);
    animation-name: slide;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes slide{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}