p, h1{
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.paragrafo{
    background: white;
    opacity: 0.5;
    padding: 15px;
}


img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
	flex: 1 1 200px;
    margin: 10px;
}