.caixa2{
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #8B0000;
	border-radius: 30px 30px 30px 30px;
	transition: 1.5s all;
}


#picole-img{
	position: relative;
	display: flex;
	width: 700px;
	height: 470px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  
/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
  .flip-card-back {
	color: white;
	transform: rotateY(180deg);
}

.flip-card {
	background-color: transparent;
	margin: 0px;
	width: 700px;
	height: 470px;
	border: 2px solid #8B0000;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* The flip card container - set the width and height to whatever you want.*/


/*---------------------------------fim do primeiro card---------------------------------*/

#milkshake-img{
	position: relative;
	display: flex;
	width: 700px;
	height: 470px;
}

/* This container is needed to position the front and back side */
.card-flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.card-flip:hover .card-flip-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.card-flip-front, .card-flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
  .card-flip-front {
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
  .card-flip-back {
	color: white;
	transform: rotateY(180deg);
}
.card-flip {
	background-color: transparent;
	margin: 50px 200px;
	width: 700px;
	height: 470px;
	border: 2px solid #8B0000;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/*-------------------------------fim do segunda card-----------------------*/

/*-------------------------------inicio terceiro card--------------------------*/
  
/* This container is needed to position the front and back side */
.card-flipp-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.card-flipp:hover .card-flipp-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.card-flipp-front, .card-flipp-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.card-flipp-front {
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.card-flipp-back {
	color: white;
	transform: rotateY(180deg);
}
/* The flip card container - set the width and height to whatever you want.*/
.card-flipp {
	background-color: transparent;
	margin: 50px 20px;
	width: 250px;
	height: 470px;
	border: 2px solid #8B0000;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
#sundae-img{
	width: 250px;
	height: 470px;
}
